.margtop {
    margin-top: -70px;
}

.f-family {
    font-family: 'Poppins';
    font-weight: 400;
}

.family {
    font-family: 'poppins';
    font-weight: 600;
}

@media only screen and (max-width:768px) {
    .query {
        width: 210px;
        margin-left: 10px;
    }

    .query-2 {
        width: 250px;
    }

}